//@theme "/home/ask-028/.local/share/rofi/themes/spotlight-dark.rasi"
//@theme "/home/ask-028/.local/share/rofi/themes/rounded-orange-dark.rasi"
//@theme "/home/ask-028/.local/share/rofi/themes/spotlight-dark.rasi"

@theme "/home/cadu/.local/share/rofi/themes/spotlight-dark.rasi"
